body {
  display: flex;
  align-items: center;
  justify-content: center;
  
  height: 100vh;
}

.btn {
  font-size: 20px;
}

.btn-grid {
  display: grid;
  grid-template-columns: 150px 150px 150px;
  grid-template-rows: 150px 150px 150px;
  grid-gap: 5px;
}

.black {
  background-color: black;
}

.red {
  background-color: red;
}

.yellow {
  background-color: yellow;
}

.blue {
  background-color: blue;
}

.white {
  background-color: white;
}

.green {
  background-color: green;
}

.orange {
  background-color: orange;
}

.purple {
  background-color: purple;
}

.pink {
  background-color: pink;
}
